# VITE_API_URL=http://localhost:5001/api
# VITE_API_URL=https://thirty-rockets-pay.loca.lt/api
# VITE_API_URL=http://150.136.150.74:5001/api
VITE_API_URL=https://api.edusphere.live/api

# ─── Clerk Authentication ──────────────────────────────────────────────────
VITE_CLERK_PUBLISHABLE_KEY=pk_test_cmVuZXdlZC1zbHVnLTg5LmNsZXJrLmFjY291bnRzLmRldiQ

VITE_CLERK_SIGN_IN_URL=/login
VITE_CLERK_SIGN_UP_URL=/signup
VITE_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
VITE_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
